<nav class="bg-orange-500 text-white">
    <div class="container flex justify-between p-4 m-auto">
      <h1>
        <a routerLink="/" class="text-2xl font-bold my-4">Book Shop</a>
      </h1>
      <div>
          <a class=" bg-gray-100 text-black rounded p-2" routerLink="/cart"> My Cart <span *ngIf="getData().length>0">{{getData().length}}</span></a>
          <ng-container *ngIf="">
              <a class="mx-4" routerLink="/login"> Login</a>
              <a class="mx-4" routerLink="/register"> Register</a>
          </ng-container>
          <ng-container *ngIf="">
              <button class="mx-4">Logout</button>
          </ng-container>
      </div>
    </div>
</nav>


<div class="p-4">
  <router-outlet></router-outlet>
</div>
